<footer class="footer">
  <div class="container-footer">
    <p class="footer-p">© 2025 | All Rights Reserved |</p>
    <span>
      Developed with
      <img src="images/kalp.svg" alt="kalp" width="18" height="16" />
      <a href="#" class="footer-a" data-modal-open="footer">by GoIT Students</a>
    </span>
  </div>

  <div class="footerModal is-hidden" data-modal="footer">
    <div class="footer-modal-content">
      <span class="close-modal" data-modal-close="footer">&times;</span>
      <h2 class="modal-h2">GoIT Students</h2>
      <div class="modal-body">
        <p class="modal-p">"This project was developed by GoIT students"</p>

        <div class="teamcard" id="cardTeam">
          <div class="card">
            <img src="/images/js-ekip-uyeleri/furkan.jpeg" alt="Team Member" />
            <div class="card-info">
              <h4>Furkan Çetin</h4>
              <p class="footer-p">Team Lead</p>
              <div class="social-links">
                <a
                  href="https://github.com/furkancetin26"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon icon-github">
                    <use xlink:href="/images/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
                <a
                  href="https://www.linkedin.com/in/furkancetin26/"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon icon-linkedin">
                    <use
                      xlink:href="/images/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="/images/js-ekip-uyeleri/gozde.jpg" alt="Team Member" />
            <div class="card-info">
              <h4>Gözde Yıldız</h4>
              <p class="footer-p">Scrum Master</p>
              <div class="social-links">
                <a
                  href="https://github.com/gozdearici"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon icon-github">
                    <use xlink:href="/images/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
                <a
                  href="https://www.linkedin.com/in/gozdenurarici?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon icon-linkedin">
                    <use
                      xlink:href="/images/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="team-cards">
          <div class="card">
            <img src="/images/js-ekip-uyeleri/gulhilal.jpg" alt="Team Member" />
            <div class="card-info">
              <h4>Gülhilal Alakuş</h4>
              <p class="footer-p">Frontend Developer</p>
              <div class="social-links">
                <a
                  href="https://github.com/gul-hilal"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon icon-github">
                    <use xlink:href="/images/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
                <a
                  href="http://linkedin.com/in/gülhilalalakuş"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon icon-linkedin">
                    <use
                      xlink:href="/images/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="/images/js-ekip-uyeleri/fatih.jpeg" alt="Team Member" />
            <div class="card-info">
              <h4>Fatih Fındık</h4>
              <p class="footer-p">Frontend Developer</p>
              <div class="social-links">
                <a
                  href="https://github.com/bilisimfatihi"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon icon-github">
                    <use xlink:href="/images/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
                <a
                  href="https://www.linkedin.com/in/fatihfindik2/"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon icon-linkedin">
                    <use
                      xlink:href="/images/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <img
              src="/images/js-ekip-uyeleri/fatih-kenan.jpg"
              alt="Team Member"
            />
            <div class="card-info">
              <h4>Fatih Kenan Kaya</h4>
              <p class="footer-p">Frontend Developer</p>
              <div class="social-links">
                <a
                  href="https://github.com/Fatihkenan"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon icon-github">
                    <use xlink:href="/images/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
                <a
                  href="https://www.linkedin.com/in/fatihkenan-kaya-41663b248?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon icon-linkedin">
                    <use
                      xlink:href="/images/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="/images/js-ekip-uyeleri/gorkem.jpg" alt="Team Member" />
            <div class="card-info">
              <h4>Görkem Can Aldı</h4>
              <p class="footer-p">Frontend Developer</p>
              <div class="social-links">
                <a
                  href="https://github.com/gorkemcanaldi"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon icon-github">
                    <use xlink:href="/images/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
                <a
                  href="https://www.linkedin.com/in/g%C3%B6rkem-can-ald%C4%B1-a87507340/"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon icon-linkedin">
                    <use
                      xlink:href="/images/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="/images/js-ekip-uyeleri/emre.jpg" alt="Team Member" />
            <div class="card-info">
              <h4>Emre Çimen</h4>
              <p class="footer-p">Frontend Developer</p>
              <div class="social-links">
                <a
                  href="https://github.com/trkcpnemre"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon icon-github">
                    <use xlink:href="/images/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
                <a
                  href="https://www.linkedin.com/in/emre-%C3%A7imen-4a224233a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon icon-linkedin">
                    <use
                      xlink:href="/images/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <img
              src="/images/js-ekip-uyeleri/omer-hilmi.jpg"
              alt="Team Member"
            />
            <div class="card-info">
              <h4>Ömer Hilmi Hamamcıoğlu</h4>
              <p class="footer-p">Frontend Developer</p>
              <div class="social-links">
                <a
                  href="https://github.com/ohhamamcioglu"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon icon-github">
                    <use xlink:href="/images/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
                <a
                  href="https://www.linkedin.com/in/%C3%B6mer-hilmi-hamamc%C4%B1o%C4%9Flu-46a687258?lipi=urn%[…]ile_view_base_contact_details%3BTxrwbkWNSV6ft1pOL1PlHw%3D%3D"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon icon-linkedin">
                    <use
                      xlink:href="/images/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="/images/js-ekip-uyeleri/yunus.jfif" alt="Team Member" />
            <div class="card-info">
              <h4>Yunus Özkaya</h4>
              <p class="footer-p">Frontend Developer</p>
              <div class="social-links">
                <a
                  href="https://github.com/YunusOzkaya"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon icon-github">
                    <use xlink:href="/images/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
                <a
                  href="https://www.linkedin.com/in/nyunus-ozkaya/"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon icon-linkedin">
                    <use
                      xlink:href="/images/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="/images/js-ekip-uyeleri/selin.jfif" alt="Team Member" />
            <div class="card-info">
              <h4>Selin Bekar</h4>
              <p class="footer-p">Frontend Developer</p>
              <div class="social-links">
                <a
                  href="https://github.com/SelinB9"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon icon-github">
                    <use xlink:href="/images/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
                <a
                  href="https://www.linkedin.com/in/selinbekar/"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon icon-linkedin">
                    <use
                      xlink:href="/images/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
