.pagination {
    display: none;
    align-items: center;
    gap: 16px;
}

.page-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #B7B7B7;
    background-color: transparent;
    color: #B7B7B7;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
    transition: all 0.3s;
}

.nav-btn {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    color: #B7B7B7;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
    transition: all 0.3s;
}

.page-btn:hover,
.nav-btn:hover {
    border-color: #fff;
    color: #fff;
}

.page-btn.active {
    background: linear-gradient(145deg, #FFC226, #F84119);
    border: none;
    color: #FFFFFF;
    font-weight: bold;
}

.dots {
    color: #B7B7B7;
    font-size: 14px;
    padding: 0 5px;
}

.pg-icon {
    width: 20px;
    height: 20px;
    stroke: currentColor;
}

.light-theme .page-btn {
    border: 1px solid #595959;
    background-color: transparent;
    color: #595959;
}

.light-theme .page-btn.active {
    border: none;
    color: #282828;
}

.light-theme .nav-btn {
    color: #B7B7B7;
}

.light-theme .page-btn:hover,
.light-theme .nav-btn:hover {
    border-color: #000000;
    color: #000000;
}

@media (max-width: 480px) {
    .pagination {
        gap: 8px;
    }

    .page-btn {
        width: 24px;
        height: 24px;
        font-size: 10px;
        line-height: 10px;
    }

    .nav-btn {
        width: 20px;
        height: 20px;
        border: none;
    }
}